
body {
  display: flex;
  flex-direction: column;
    background-image: url("img/jpg/table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0;
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
  }

  .playCard {
    position: relative;
    display: inline;
    width : 40%;
    margin: 0px auto;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .playCard.is-flipped {
    transform: rotateY(180deg);
  }
  img {
    border-radius: 5px;
  }
  .frontCard.back-invisible {
    backface-visibility: hidden;
  }
  .backCard.back-invisible {
    backface-visibility: hidden;
  }

  .backCard {
    width: 100%;
    position: absolute;
    display: inline;
    transform: rotateX(180deg);
  }
  img {
    position: relative;
    width: 100%;
  }

  .frontCard {
    z-index: 1;
    position: absolute;
    display: inline;
    width: 100%;
  }

  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--front h2 {
    color: #FFF;
    font-size: 32px;
  }
  
  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }
  
  .card__header {
    position: relative;
    padding: 30px 30px 40px;
  }
  
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
  .pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }
  
  .card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card__body {
    padding: 30px;
  }
  
  .card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
  }


  #yourSection {
    width: 40%;
  }



  #options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
    border-radius: 10px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
  }

  .option {
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    border-radius: 25px;
    margin: 20px auto 20px auto;
    width: 250px;
    color: #201d1b;
    box-shadow: 2px 2px 5px;
    background-color: #f3efef;
    border: 10px solid rgb(201, 118, 118);
  }
  .option:hover {
    cursor: pointer;
    background-color: #cabbbb;
  }

  .title {
    writing-mode: horizontal-tb;
    border: 2px solid #e5a87f; 
    font-family: Optima;
    text-align: center;
    font-size: 60px;
    color: #e5a87f;
    border-radius: 25px;
    width: 650px;
    margin: auto;
    background-color: #da2121;
  }

  .playCard {
    border-radius: 30px;
    flex-shrink: 1;
  }

  #titles {
      height: 100px;
      border: 2px dashed #e5a87f;
      display: flex;
      justify-content: space-around;
  }

  .titleCards {
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
    margin: 20px auto 20px auto;
    width: 250px;
    color: #e5a87f;
    background-color: #da2121;
  }

  h2 {
    writing-mode: vertical-rl;
    font-size: 5vw;
    margin: 1vw;
    font-family: 'Courier New', Courier, monospace;
  }

  #board {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
  }

  @media screen and (max-width: 850px) {
    #board {
      flex-direction: column;
      height: 60vh;
      justify-content: space-around;
    }

    #yourCount, #dealerCount {
      position: relative;
      margin-top: 5vh;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      height: 40px;
      border-radius: 10px;
      font-size: 25px;
      line-height: 40px;
      font-family: Optima;
      color: #e5a87f;
      background-color: #da2121;
      text-align: center;
    }

    #options {
      flex-direction: row;
      height: 100px;
      margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    }

    .playCard {
      position: absolute;
      max-width: 150px;
    }

    .option {
      line-height: 45px;
      font-size: 25px;
      text-align: center;
      border-radius: 25px;
      width: 80%;
      max-width: 100px;
      margin: 20px;
    }

    #options {
      justify-content: center;

    }

    .title {
      writing-mode: horizontal-tb;
      border: 2px solid #e5a87f; 
      font-family: Optima;
      text-align: center;
      font-size: 30px;
      color: #e5a87f;
      border-radius: 25px;
      max-width: 350px;
      margin: 10px auto 0px auto;
      background-color: #da2121;
    }
  

  }

  #yourCount, #dealerCount {
    position: relative;
    margin-top: 5vh;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    line-height: 40px;
    font-family: Optima;
    color: #e5a87f;
    background-color: #da2121;
    text-align: center;
  }

  #yourCards {
    display: flex;
    justify-content: center;
  }

  #dealerCards {
    display: flex;
    justify-content: center;
    height: 30vh;
    padding-left: 5%;
    padding-right: 5%;
  }


  #cards {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #e5a87f; 
    display: flex;
    justify-content: space-between;
  }
  
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin-bottom: 40px;
  }


  .card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;
  }
  